// Общий стиль для контейнера
.container
  padding: 20px
  border: 2px solid #ccc
  border-radius: 8px

// Стиль для label
.label
  display: block
  font-weight: bold
  margin-bottom: 5px
  margin-left: 2%

// Стиль для input
.input
  width: 50%
  padding: 10px
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
  margin-left: 2%

.input_id
  width: 5%
  padding: 10px
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
  margin-left: 2%
  text-align: center

// Контейнер для двух полей
.fieldContainer_id
  display: flex // Используем flexbox для горизонтального расположения
  gap: 20px // Расстояние между полями (можно настроить)
  align-items: center // Выравниваем элементы по вертикали

// Общий стиль для каждого поля
.field
  display: flex
  flex-direction: column // Располагаем label и input вертикально
  flex: auto // Поля занимают равное пространство

